/**=====================
     34. Pricing CSS Start
==========================**/
.pricing-simple {
  box-shadow: 0 0 10px 5px rgba(68, 102, 242, 0.05);
  margin-bottom: 0 !important;
  .card-body {
    border-bottom: none;
    h3 {
      position: relative;
      margin-bottom: 38px;

      &:before {
        position: absolute;
        content: "";
        width: 80px;
        height: 1px;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: -10px;
        background-color: $light-text;
      }
    }

    h1 {
      font-size: 30px;
      line-height: 0.9;
      margin-bottom: 30px;
      font-weight: 400;
    }
  }
}

.pricingtable {
  text-align: left;
  // padding-top: 45px;
  // padding-bottom: 45px;
  border-radius: 10px;
  background-color: #fafafa;
  border: 1px solid var(#fafafa, #f5f9ff);
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding: 8%;
  height: 100%;
}

.pricingtable {
  &:after {
    background-color: var(--theme-default);
    height: 300px;
    width: 300px;
    top: auto;
    bottom: -210px;
    right: auto;
    left: -160px;
    opacity: 0.1;
  }

  .price-value {
    color: #000a32;
    margin: 0 auto 25px;
    .duration {
      margin: 0 0 0 15px;
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;
      color: #848199;
    }
    .amount {
      font-size: 48px;
      font-weight: 600;
      line-height: 48px;
      display: inline-block;
    }

    .currency {
      font-size: 48px;
      font-weight: 600;
      line-height: 48px;
      display: inline-block;
    }
  }

  .pricing-content {
    margin: 10 0 25px;
    display: inline-block;
    width: 100%;
    li {
      font-weight: 400;
      color: #848199;
      font-size: 12px;
      text-align: left;
      padding-top: 5px;
      padding-bottom: 5px;
      position: relative;
      display: flex !important;
      border-top: 1px solid #f2f2f2;
      justify-content: space-between;
      &:last-child {
        margin: 0;
      }
    }
  }
}

.pricingtable-headerTitle {
  display: flex !important;
  justify-content: space-between;
  .title {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #000a32;
  }
  .billed {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 400;
    color: #848199;
  }
}

.pricingtableSignup {
  margin-top: 25px;
  background-color: #1264fd;
  text-align: center;
  width: 100%;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;

  .btnSpan {
    font-size: 14px;
    font-weight: 400;
    color: white;
  }
}

.gradientStyle {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;

  background-image: linear-gradient(
    90deg,
    rgba(234, 235, 255, 0) 0%,
    #eaebff 53%,
    rgba(234, 235, 255, 0) 100%
  );
}

.gradientStyleHorizontal {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px; /* Adjust thickness as needed */
  height: 100%;
  background-image: linear-gradient(
    0deg,
    rgba(234, 235, 255, 0) 0%,
    #eaebff 53%,
    rgba(234, 235, 255, 0) 100%
  );
}
.planBillingDiv {
  width: 100%;
  border: 1px solid var(--Light-Levender, #ebf1fc);
  border-radius: 4px;
  margin-bottom: 20px;
  .divContent {
    display: flex;
    flex-direction: column;
    .top {
      color: #819acb;
      font-size: 12px;
      font-weight: 400;
    }
    .bottom {
      color: #1d1d1d;
      font-size: 20px;
      font-weight: 600;
      .bottomDuration {
        color: #848199;
        font-size: 10px;
        font-weight: 400;
      }
    }
    .bottom2 {
      color: #595959;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

@media (max-width: 1470px) {
  .pricing-block {
    > div {
      flex: 50%;
      &:nth-child(n + 3) {
        margin-top: 30px;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .pricing-simple {
    .card-body {
      h1 {
        margin-bottom: 20px;
      }
      h3 {
        margin-bottom: 28px;
      }
    }
  }

  .pricing-block {
    > div {
      &:nth-child(n + 2) {
        margin-top: 20px;
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .pricing-simple {
    .card-body {
      h1 {
        margin-bottom: 15px;
      }
    }
  }
  .pricing-block {
    > div {
      flex: 100%;
    }
  }

  .pricingtable {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

/**=====================
    34. Pricing CSS Ends
==========================**/
